<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE Tech Blog</title>
  <link rel="stylesheet" href="/style/skeleton.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">THE Tech Blog</a>
      </h1>
    <nav class = "navbar">
      <ul>
        <li class = "li-inline nav-item"><a href ="/">home</a></li>
                <li class = "li-inline nav-item"><a href ="/dashboard">Dashboard</a></li>
                  <li class = "li-inline nav-item"><a href ="/login">login</a></li>
                        <li class = "li-inline nav-item"><a href ="#" id = "logout-link">SEE YA!</a></li>
      </ul>
    </nav>
    </header>
  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">
    ⌛DESIRE LEADS TO DESTINATION!
  </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>