<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE Tech Blog</title>
  <link rel="stylesheet" href="/style/skeleton.css">
</head>

<body>
<div class="wrapper">
    <header>
      <h1>
        <a href="/" class="myHeader">Tech Blog</a>
      </h1>
        <ul id="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/login">Login or Sign Up</a></li>
          <li><a href="#" id="logout-link">SEE YA!</a></li>
        </ul>
      </nav>
    </header>
  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">
    ⌛DESIRE LEADS TO DESTINATION!
  </footer>
  </div>
{{!--   
  {{#if loggedIn}}
  <script src="/public/javascript/logout.js"></script>
  {{/if}} --}}
</body>

</html>
  <script src="/javascript/logout.js"></script>