<div class="Posts list-group">
  {{#each Posts}}
  <a class="list-item flex-row justify-space-between" href="/dashboard/edit-post/{{id}}">
    <span>{{title}}</span>
    <span>{{format_date createdAt}}</span>
  </a>
  {{/each}}
</div>